* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(img/ayang-1.png);      
  background-repeat: space;
  background-color: #3f5fff;
  color: white;
}

h1 {
  font-size: 4rem;
}

button {
  padding: 8px 20px;
  margin: 20px;
  font-size: 1rem;
  /* z-index: 1; */
}

.shadow {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #00000030;
  /* opacity: 50%; */
  /* background: rgba(255, 255, 255, 0.2);  */
  backdrop-filter: blur(7px);
  transition: 1s;
}

.alert {
  width: 200px;
  height: 300px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  position: absolute;
  color: #1e1e1e;
  /* transition: 1s; */
  animation: coba 0.5s;
}

@keyframes coba {
  0% {
    scale: 0;
  }
  100% {
    scale: 100%;
  }
}
.alert p:nth-child(1) {
  font-size: 4rem;
  padding-bottom: 20px;
}

.alert button {
  width: 100%;
  background-color: #3f5fff;
  border-radius: 5px;
  color: white;
  border: none;
}

.alert button:hover {
  box-shadow: #8fa2ff 0px 0px 0px 3px;
}
