@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}
body{
  background-color: #FFCFE6;
  height: 100vh;
  width: 100vw;
}
body h1,body p{
  color: #FF459E;
}
.profile{
  background-color: #FF8EB0;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.147) 3px 4px 8px 0px;
  border: white solid 6px;
  
}
button{
  padding: 10px 29px;
  font-size: 18px;
  background-color: #FF459E;
  color: white;
  border: none;
}
button:hover{
  box-shadow: #ff459f3d 0px 0px 0px 5px; 
}

/* 
button {
  padding: 8px 20px;
  margin: 20px;
  font-size: 1rem;
}

.shadow {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #00000030;
  backdrop-filter: blur(7px);
  transition: 1s;
}

.alert {
  width: 200px;
  height: 300px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  position: absolute;
  color: #1e1e1e;
  animation: coba 0.5s;
}

@keyframes coba {
  0% {
    scale: 0;
  }
  100% {
    scale: 100%;
  }
}
.alert p:nth-child(1) {
  font-size: 4rem;
  padding-bottom: 20px;
}

.alert button {
  width: 100%;
  background-color: #3f5fff;
  border-radius: 5px;
  color: white;
  border: none;
}

.alert button:hover {
  box-shadow: #8fa2ff 0px 0px 0px 3px;
} */
